<h1>My tasks</h1>
<p>
  <% @tasks.each do |task| %>
    <%= link_to 'ðŸ—‘ï¸', task_path(task), method: :delete %>
    <%= link_to(task.title, task_path(task.id)) %>
    <%=task.completed == true ? 'âœ…' : 'ðŸ˜…'%>
  <% end %>
</p>

<%= link_to('Add new task', tasks_new_path) %>
